doctype html
html.theme-default
  head
    title= `bbbot B^)`
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,400,900" rel="stylesheet")
    link(rel='stylesheet', href='/styles/bundle.min.css')
    link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      
    .content
      block content

    block scripts
      script(src="/socket.io/socket.io.js")
      script(src="/scripts/bundle.min.js")
        
